{% extends "FEROS/index.html" %}


{% block maincontent %} 
{% block help %} 
					
					
					
					
			 <div class="container">		
					
					
                    <h3> RV Tau Ceti over time </h3>
                    
                    
                    		<div class="large-9 columns">
			<div id="content-main">
				{{ figure_rvstd_tauCeti|safe }}
			</div>
		</div>
                    
                    
                    
                    
        </div>
        <!-- /#page-content-wrapper -->


{% endblock %}  

{% endblock %}  
